<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">

    {{ require_css(get_asset_url('../../css/main.css')) }}
    {{ standard_header_includes }}
  </head>

  <body>
    {% block header %}
      {% global_partial path="../partials/header.html" %}
    {% endblock header %}

      <main id="main" class="body-container-wrapper">
          {% block body %}
          {% endblock body %}
      </main>

    {% block footer %}
      {% global_partial path="../partials/footer.html" %}
    {% endblock footer %}

    {{ standard_footer_includes }}
  </body>
</html>
