<div class="team-container">
	<div class="column">
		{% for item in module.team_items %}
			<div class="column-content">
				{% if item.cat_image.src %}
                  {% if item.cat_image.src %}
                    {% set sizeAttrs = 'width="{{ item.cat_image.width|escape_attr }}" height="{{ item.cat_image.height|escape_attr }}"' %}
                    {% if item.cat_image.size_type == 'auto' %}
                      {% set sizeAttrs = 'width="{{ item.cat_image.width|escape_attr }}" height="{{ item.cat_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.cat_image.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ item.cat_image.max_width|escape_attr }}" height="{{ item.cat_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                     {% set loadingAttr = item.cat_image.loading != 'disabled' ? 'loading="{{ item.cat_image.loading|escape_attr }}"' : '' %}
                    <img tabindex="0" src="{{ item.cat_image.src|escape_url }}" alt="{{ item.cat_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
				{% endif %}

				<div tabindex="0">
					<div class="title-style">
						{% inline_text field="title" value="{{ item.title }}" %}
					</div>
					{% inline_text field="description" value="{{ item.description }}" %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% require_css %}
  <style>
    .team-container {
      padding: 50px 0;
    }
    .column-content {
      border-radius: 20px;
      {{ module.item_style.item_border.css }};
    }
  </style>
{% end_require_css %}