* {
    box-sizing: border-box;
    text-transform: none;
｝

{% include './layout.css' %}

body {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    color: #1E1E1E;
    margin: 0;
}

main {
    padding: 50px 0;
}

.body-container img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

.body-container .hs_cos_wrapper_type_linked_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hs_cos_wrapper {
    margin: 20px;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 30px 20px;
    z-index: 100;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
}

.skip-link:focus {
    top: 0;
    opacity: 1;
}