.hero-container {
    display: flex;
    justify-content: center;
    margin: 30px;
    max-width: 1280px;
}

.two-col-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.order-image {
    order: 1;
}

.align-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media (max-width: 900px) {
    .two-col-feature {
        flex-direction: column;
        max-width: 450px;
    }
    .order-text {
        order: 2;
    }
    .text-center {
        text-align: center;
    }
}
